.metals
.vscode
spark/target
spark/project/target/
spark/project/.bloop
spark/project/project/target
spark/project/project/project/target/
spark/project/project/project/metals.sbt
spark/app/target/
spark/.bloop